.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background: #111;
  color: white;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

/* link */
.nav-link {
  position: relative;
  padding: 0.5rem 0;
  color: white;
}

/* underline */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: gold;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* hover */
.nav-link:hover::after {
  transform: scaleX(1);
}

/* ACTIVE ROUTE */
.nav-link.active::after {
  transform: scaleX(1);
}

/* === BURGER === */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  width: 24px;
  height: 2px;
  background: white;
}

/* === MOBILE === */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #111;
    padding: 1.5rem;
    gap: 1rem;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}